<div id="<%= dom_id travel %>" class="border-solid border-2 border-gray-400 rounded-md mb-4">
  <%= link_to travel do %>
    <p class="text-gray-900 font-bold text-xl mb-2">
      <%# <strong class="block font-medium mb-1">Name:</strong> %>
      <%= travel.name %>
    </p>
    <p class="my-2">
      <strong class="block font-medium mb-1">Dates Visited:</strong>
      <%= travel.dates_traveled %>
    </p>

    <% if travel.favorite %>
      <%= heroicon "heart", options: { class: "text-pink-400 h-4 w-4" } %>
    <% else %>
      <%= heroicon "heart", variant: :outline, options: { class: "h-4 w-4" } %>
    <% end %>
  <% end %>
</div>
