<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= @travel.name %></h1>
    <%= link_to "Back to travels", travels_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>

  <div class="mt-4">
    <p><strong>Start Date:</strong> <%= @travel.start_date %></p>
    <p><strong>End Date:</strong> <%= @travel.end_date %></p>
    <p><strong>Favorite:</strong> <%= @travel.favorite ? "Yes" : "No" %></p>
  </div>

  <h2 class="font-bold text-2xl mt-5">Images</h2>
  <%= turbo_frame_tag "images" do %>
    <div id="images_list">
      <% if @travel.images.attached? %>
        <div class="images flex flex-wrap -m-2">
          <% @travel.images.each do |image| %>
            <div class="p-2 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
              <%= image_tag image, alt: "#{@travel.name} image", class: "travel-image w-full h-auto rounded-lg shadow-md" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No images available</p>
      <% end %>
    </div>
  <% end %>

  <h2 class="font-bold text-2xl mt-5">Comments</h2>
  <div id="comments">
    <% @travel.comments.each do |comment| %>
      <%= render partial: "comments/comment", locals: { comment: comment } %>
    <% end %>
  </div>

  <%= turbo_frame_tag "new_comment" do %>
    <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @travel } %>
  <% end %>

  <% if @travel.user == current_user %>
    <%= link_to "Edit this travel", edit_travel_path(@travel), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this travel", @travel, method: :delete, data: { turbo: false, confirm: "Are you sure?" }, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
    </div>
  <% end %>
</div>