<%= form_with(model: [commentable, comment], local: true, data: { controller: "comment-form", action: "input->comment-form#toggleSubmitButton" }) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :body, "Add a Comment", class: "sr-only" %>
    <%= form.text_area :body, rows: 3, class: "mt-1 block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 h-[150px]", data: { target: "comment-form.body" } %>
  </div>

  <%= form.hidden_field :commentable_id, value: commentable.id %>
  <%= form.hidden_field :commentable_type, value: commentable.class.name %>

  <div class="flex justify-end">
    <%= form.submit comment.new_record? ? "Add Comment" : "Update Comment", class: "btn-primary", data: { target: "comment-form.submitButton" }, disabled: true %>
  </div>
<% end %>