<%= turbo_stream.append "comments" do %>
  <div id="comment_<%= @comment.id %>" class="mb-4">
    <p>
      <strong><%= @comment.user.full_name %>:</strong> <%= @comment.body %>
      <br>
      <small>Last updated at: <%= @comment.updated_at.strftime("%B %d, %Y %H:%M") %></small>
      <% if @comment.user == current_user %>
        <%= link_to "Edit", polymorphic_path([:edit, @comment.commentable, @comment]), data: { turbo_frame: "comment_#{@comment.id}" } %>
      <% end %>
      <% if @comment.user == current_user || @comment.commentable.user == current_user %>
        <%= button_to "Delete", polymorphic_path([@comment.commentable, @comment]), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </p>
  </div>
<% end %>

<%= turbo_stream.replace "new_comment" do %>
  <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @comment.commentable } %>
<% end %>